body{
    background-color: #0F7AAF;
    color: rgb(243, 162, 11);
    font-family: sans-serif;
}
header{
    text-align: center;
    
}

th{
    background-color: black;
}

td{
    background-color: rgb(8, 24, 68);
}

